<div>
  <h1>Hello World</h1>

  <% if session['omniauth'] %>
    <h2>You are now logged in via Nuxeo!</h2>
    <p><%= session['omniauth'] %></p>

  <% else %>
    <h2>Omniauth Nuxeo Config</h2>
    <p><%= Rails.configuration.omniauth.inspect %></p>

    <form method="GET" action="login/">
      <input type="submit" value="Login via Nuxeo" />
    </form>
  <% end %>
</div>